body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    background-image: url('/pics/certback2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    margin: 20px;
    -webkit-print-color-adjust: exact;
}

.title h2 {
    padding-top: 20px;
}

.certificate {
    text-align: center;
    color: white;
}

.certificate h1 {
    font-size: 3em;
    margin-bottom: 10px;
    margin-top: 20px;
}

.certificate h2 {
    padding-top: 120px;
    font-size: 3em;
    margin: 0;
    font-weight: bold;
}

.certificate h3 {
    font-size: 1.5em;
    padding-top: 60px;
}

.certificate h4 {
    padding-top: 10px;
    font-size: 35px;
    margin: 0;
}

.desc {
    display: flex;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
}

.desc p {
    max-width: 60%;
}

.signatures {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.signature {
    width: 45%;
}

.signature p {
    margin: 10px 0;
}
