body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    height: 80vh;
    background-image: url('/pics/certBack.png');

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 8vh;
    /* makes it print correctly and stuff */
    -webkit-print-color-adjust: exact;
}

.certificate {
    text-align: center;
    color: white;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 100px
}

h2 {
    font-size: 3em;
    margin: 0;
    font-weight: bold;
}
